<h3>Ajouter un produit</h3>

<ul *ngIf="!myForm.valid && formSubmitted">
  <li *ngIf="myForm.controls['name']?.errors?.['required']">Name is required</li>
  <li *ngIf="myForm.get('price')?.errors?.['min']">Price must be greater than 0</li>
  <li *ngIf="myForm.get('price')?.errors?.['max']">Price must be lower than 1000</li>
  <li *ngIf="myForm.get('supplier.id')?.errors?.['required']">Supplier is required</li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="submit()">

  <div>
    <label for="productname">Nom du produit</label>
    <input type="text" name="productname" id="productname" formControlName="name"/>
  </div>
  <div>
    <label for="productcategory">Catégorie du produit</label>
    <input type="text" name="productcategory" id="productcategory" formControlName="category"/>
  </div>
  <div>
    <label for="productdescription">Descriptio du produit</label>
    <input type="text" name="productdescription" id="productdescription" formControlName="description"/>
  </div>
  <div>
    <label for="productprix">Prix du produit</label>
    <input type="number" name="productprix" id="productprix" formControlName="price"/>
  </div>
  <div>
    <label for="productpromo">Promotion du produit</label>
    <input type="text" name="productpromo" id="productpromo" formControlName="promo"/>
  </div>
  <div formGroupName="supplier">
    <label for="productSupplier">Supplier</label>
    <select formControlName="id" id="productSupplier">
      <option value="">---Make a choice ---</option>
      <option *ngFor="let s of suppliers" [value]="s.id">{{s.companyName}}</option>
    </select>
  </div>
  <fieldset formArrayName="colors">
    <legend>Color <mat-icon (click)="addColor()">add</mat-icon></legend>
    <div *ngFor="let item of getColorsFormArray().controls; let i=index">
      <label [for]="'color'+i"><mat-icon (click)="removeColor(i)">remove</mat-icon>Color {{i+1}}</label>
      <input type="color" [formControlName]="i">
    </div>
  </fieldset>
  <button type="submit">Submit</button>
  <button type="button" (click)="myForm.reset()">Reset</button>
</form>

<pre>{{myForm.value | json}}</pre>
