
.warning-link{
  color: red;
  display:inline-block;
  margin: 0 5px;
  text-decoration: underline;
  cursor: pointer;
}
.default-link{
  color: dodgerblue;
  text-decoration: underline;
  display:inline-block;
  margin: 0 5px;
  cursor: pointer;
}

span{
  cursor: pointer;
}

mat-card{
  margin-bottom: 20px;
}
